Repository CoVital-Project/Spo2_evaluation, pull requests merged in 2020-04, with the labels that each got.

#14 Rescale videos for DataSet
  .github/workflows/pythonapp.yml
  DataLoader/Spo2Dataset.py
  DataLoader/Spo2Dataset_thread.py
  data_loader/README.md
  data_loader/data_loader.py
Labels: data

#18 Added several CNN based models.
  NN_models/NN_models.py
  NN_models/README.md
  NN_models/VGG.py
  NN_models/mobilenet_v2.py
  NN_models/resnet.py
  data_loader/__init__.py
  data_loader/data_loader.py
Labels: models

#19 Preprocessed datasets as .csv files
  .gitignore
  data_loader/data_loader.py
  preprocessed_data/README.md
  preprocessed_data/nemcova_data/ground_truths_nemcova.csv
  preprocessed_data/nemcova_data/nemcova_test.csv
  preprocessed_data/nemcova_data/nemcova_train.csv
  preprocessed_data/sample_data/ground_truths_sample.csv
  preprocessed_data/sample_data/sample_data.csv
  preprocessing/utils.py
  requirements.txt
Labels: data

#27 Merge Nemcova train and test datasets for preprocessed data.
  preprocessed_data/README.md
  preprocessed_data/nemcova_data/ground_truths_nemcova.csv
  preprocessed_data/nemcova_data/nemcova_data.csv
  preprocessing/data_loader.py
  preprocessing/utils.py
Labels: data, enhancement
